/* css file */
.container {
	top: 50%;
	left: 0.10%;
	transform: translate(100%,-50%);
	position: absolute;
	width: max-content;

}
.card {
	border: 1px solid black;
	width: max-content;
	text-align: center;
	display: inline-block;
	margin: 5px;

}

.card img {
	width: 300px;
	padding: 5px;
}
.title {
	font-weight: bolder;
	margin: 20px;
}
button {
	direction: none;
	border: 2px solid #e1701a;
	background:f7a440 ;
	font-weight: bold;
	margin: 20px;
	padding: 5px 10px;

}
button:hover {
	box-shadow: 0 0 5px 5px #e1701a inset;
}